@import "util.styl"

montserrat = 'Montserrat', sans-serif

merriweather = 'Merriweather', serif

claro = #E3E3E3

p, h1, h2, h3, h4, li
    max-width 740px

h1, h2 ,h3 , h4, a, button, html input[type=button], input[type=reset], input[type=submit]
    font-family montserrat

a, button, html input[type=button], input[type=reset], input[type=submit]
    text-decoration none

    &:hover 
        text-decoration none

h1, h2
    text-transform uppercase

h1
    font-size 40px
    font-weight bold

h2
    font-weight normal
    font-size 22px

h3 
    font-size 19px

h4
    font-size 16px

p, li
    font-family merriweather
    line-height 1.5em

li
    margin-bottom 16px

.jumbotron
    background-size cover
    background-position center
    background-color transparent
    margin-bottom 40px

    p,h1,h2
        text-align center
        margin 0 auto 10px
        color #e3e3e3
    p 
        font-style italic
        font-size 15px

    a 
        text-align center
        color #ececec
        border thin solid #ececec

    a:hover
        color white 

.head-section
    margin-bottom 0
    color #E3E3E3

body
    margin auto
    font-size 15px
    color #808080

footer
    border-top 1px solid silver
    padding 1em
    font-size 13px
    overflow auto
    background-color #333


    h2, h3 
        font-weight bold

    h2,h3,h4
        color #e3e3e3

    h2
        font-size 21px
        text-transform none
        margin-bottom 26px

    h3
        font-size 16px
        margin-bottom 20px
    
    h4
        margin 0

    section
        .fa
            font-size 2em
            text-decoration none
            padding 0
            border-color transparent

    .responsive-footer
        overflow auto

    .contacto-direcciones

        h3
            margin 0

    .enlace

        .titulo-enlace
            font-family montserrat
            

    .info
        padding 1em 0

        div
            @extends .box
            margin-right 10px
            max-width 196px

            &.glyphicon
                padding 1em

            p
                margin 0

    .link-formulario
        font-size 13px
        padding 1em

        a
            padding 1em

.news-container
    overflow auto
    margin-bottom 50px

header
    border-bottom solid thin #E3E3E3
    
    a, span
        font-size 12px

    span
        font-family montserrat

    nav
        margin 0 !important
        padding 5px

    .logo
        cursor pointer
        left 0.5em
        position absolute
        top 0.5em
        z-index 3

        img
            width 32px

    .panel-busqueda
        display none
        margin-bottom 0

.main-wrapper
    width 90%
    margin 0 auto

.bajada
    font-style italic
    font-size 15px

.secondary
    padding-top 160px
    padding-bottom 160px

section
    margin-bottom 45px

    .home-text
        margin-bottom 10px

        h1,p, h2
            text-align center
            margin 0 auto 10px

    #select-box
        font-size 21px
    .btn-box
        margin 1em
    .row
        margin-left 0px !important
        margin-right 0px !important

.main
    z-index -1
    background-image url("/images/america.png")
    background-size cover
    background-position center

.photo-filter
    background-color #bbadac
    opacity .9
    widht 100%
    height 100%

.photo-filter-2
    background-color #bbadac
    opacity .6
    widht 100%
    height 100%

.notas-container
    font-style italic

    h3 
        font-family merriweather
        margin-bottom 50px

    li 
        font-size 14px
        max-width 540px

.text-center 

    a
        margin-top 50px
        display inline-block

a
    color gray
    padding 0.5em 2em

.cargo
    font-size 14px !important
    
.nombre
    font-size 14px !important
    margin 0px !important

ul.tab-especial
    li
        width 50% !important
        text-align center

#seccion_tabs

    .dropdown-panel
        display block
        background-color #eee
        padding 2em
        position relative
        bottom 152px
        width 80%

        .dropdown-panel-container
            width 100%

            .close-button
                width auto
                display inline-block
                float right

            h2
                font-size 19px
                text-transform none
                margin-bottom 40px

            .btn-remove
                padding 0 !important

.thumbnail
    overflow hidden
    height auto
    border transparent
    box-shadow none

    .caption 
        padding-top 0

.span-fecha
    font-family montserrat

.nav.navbar-nav
    margin-top 20px
    margin-left 40px
    max-width 800px


    li
        a
            padding 7px 11px

        a:hover
            background-color transparent
            color #9f9594

.news-image
    width 100%
    height 140px
    background-color silver
    background-size cover
    background-position center

.noticias
    overflow auto

    .noticia
        border 1px solid silver
        padding 1em

    h2
        text-transform none
        font-size 30px

.span-breadcrumb-noticia
    font-size 12px
    font-style italic
    display inline-block
    margin-bottom 35px

.obra-nav
    position relative
    bottom 150px

.obras-box
    overflow auto
    margin-bottom 90px

    .obra
        background-color silver
        border 1px solid gray
        padding 2em
        height 370px
        postion relative

            #seccion_tabs
                margin-bottom 0

        div
            position absolute
            bottom 50px
            right 50px
            left 50px
            
        h2
            text-transform none
            font-size 40px
        p
            margin 0
            font-style italic

.no-head-image
    margin-top 130px

    h1, h2
        text-transform none
        font-weight normal

    h2 
        font-size 41px
        margin-bottom 20px

    h1
        margin-bottom 65px

    form

        .form-group
            max-width 415px

        .selector
            width 150px

.paragraph-container
        margin-bottom 45px

.sub-titulo
    font-size 16px !important
    margin 0.5em 0 !important

.tab-especial
    li
        width 50% !important
        text-align center

.titulo
    font-size 18px !important
    margin 1em 0 !important

.cca-brand
    border transparent

.ciudad-abierta-image
    background-image url("/images/main-home-01.jpg")
    background-size cover
    background-position center

.sobre-image-1
    background-image url("/images/main-home-03.jpg")
    background-size cover
    background-position center

.sobre-image-2
    background-image url("/images/4015833085_63af699047_b.jpg")
    background-size cover
    background-position center

.sobre-image-3
    background-image url("/images/2961878190_d19feb4ddb_b.jpg")
    background-size cover
    background-position center

.sobre-image-4
    background-image url("/images/taller-amereida.jpg")
    background-size cover
    background-position center

.sobre-image-5
    background-image url("/images/01.jpg")
    background-size cover
    background-position center

.obras-main-image
    background-image url("/images/3082475213_be5ea98825_b.jpg")
    background-size cover
    background-position center

.corporacion-amereida-home
    position relative
    bottom 30px
    background-image url("/images/americacapovolta_1_.jpg")
    background-size auto 100%
    background-repeat no-repeat 

.amereida-btn
    border thin solid #CC0000
    color #CC0000
    padding 0.5em 2em

.map-1
    background-image url("/images/Mapa idea-12.jpg")
    background-position center 74%

.map-2
    background-image url("/images/Mapa idea-12.jpg")
    background-position center 35%

@import "screen_768.styl"
@import "screen_1200.styl"