@import "util.styl"
@media screen and (min-width: 767px)

    footer

        h2
            text-align center


    body 
        font-size 14px


    section

        .home-text
            margin-bottom 55px

    header

        .panel-busqueda
            display block
            overflow hidden
            padding 25px 0 0

            .caja-busqueda
                border #999999 thin solid
                padding 0 9px
                height 30px

                input[type=text]
                 border-width 0

                span
                    padding-top 7px

            .lenguajes
                display table

                .amereida-btn
                    @extends .box
                    font-size 11px
                    border-color white

                    p
                        text-transform none

                .amereida-btn:hover
                    border-color #999999

    h1, h2
        text-transform uppercase

    h1
        font-size 24px

    h2
        font-size 21px

    h3 
        font-size 18px

    h4
        font-size 16px

    .main
        padding-top 165px
        padding-bottom 145px

    #seccion_mapa
        .nav.nav-tabs.tab-especial
            max-width 300px

    #ubicacion
    #vista
        @extends .box
            width 49%

    #visita
        form
            max-width 500px

    .obras-box
        text-align center

        .obra
            @extends .box
            
    .cca-brand
        position relative

        figure
            position absolute

    .tab-especial

        li
            width auto
            text-align center

    .carousel-control

        .carousel-btn
            background-color #f7f7f7
            padding 7px
            position absolute
            top 50%
            display block

