@import "util.styl"
@media screen and (min-width: 767px)

    .bajada
        font-size 22px

    section
        margin-bottom 90px

        .home-text
            margin-bottom 55px

    .news-image
        height 280px

    body
        font-size 16px

    header
        height 130px
        color #808080

        .panel-busqueda
            display block
            overflow hidden
            padding 0.5em 0
            color #bbadac

            .caja-busqueda
                padding-top 0.5em

            .lenguajes

                span
                    @extends .box
                    border thin solid #e2e3e2
                    padding 0.5em 2em
                    font-size 12px

            .lenguajes:hover
                color #9f9594

        .main-wrapper
            position relative


    h1, h2
        text-transform uppercase
        font-size 52px

    h3 
        font-size 25px

    h4
        font-size 16px

    .jumbotron

        p
            font-size 22px
    footer

        section
            @extends .box
                width 24%

        .responsive-footer
            overflow initial

    .main
        padding-top 165px
        padding-bottom 145px

    .nav.navbar-nav
        left initial

    #obras_intro
        padding-bottom 1.5em

    #seccion_mapa
        .nav.nav-tabs.tab-especial
            max-width 300px

    #ubicacion
    #vista
        @extends .box
            width 49%

    #visita
        form
            max-width 500px

    .obras-box
        text-align center

        .obra
            @extends .box
            
    .cca-brand
        position relative

        figure
            position absolute

    .tab-especial

        li
            width auto
            text-align center
