@font-face
   font-family 'Raleway'
   font-style normal
   font-weight 400
   src local('Raleway'), local('Raleway-Regular'), url("../fonts/Raleway-Regular.ttf") format('truetype')

@font-face
   font-family 'Anonymous Pro'
   font-style normal
   font-weight 400
   src local('Anonymous Pro'), local('AnonymousPro-Regular'), url("../fonts/AnonymousPro-Regular.ttf") format('truetype')

.li-show-768
    display none !important

.btn-nav-bar
    display none !important

.box
    box-sizing border-box
    display inline-block
    vertical-align top

.btn-custom
    width 80%
    button
        width 25%
        padding 0.5em 0
        p
            font-size 10px
            margin 0

.btn-remove
    padding 15px !important
    span
        font-size 25px !important

.no-padding
    padding 0px !important

.carousel-caption
    left 5.3%
    width auto

.navbar-nav
    float right

#NAV-ID

        a
            display block

.carousel
    height 409px

.carousel-image
    background-position bottom

.main-image-container
    height 441px

.noticia

    .article-head-text
        top 408px

.obra

    .article-head-text
        top 358px

.bottom-content

    .obra-caption
            height 223px
            padding-bottom 0

.tab-especial

        li
            text-align center
            width 25%

    #NAV-ID

            a
                display block

.map-container
        margin-bottom 52px

@media screen and (max-width: 767px)

    .carousel-caption
        left 0
        width 100%

    .navbar-nav
        float none

    .carousel-control

        .carousel-btn
            display none

    #NAV-ID

        a
            display none

    .carousel
            height 609px

            .diagonal
                height 100px

    .li-show-768
        display block !important

    .lang-tag
        float right

    .btn-nav-bar
        display block !important

    .caja-busqueda-mobile
        border #999 thin solid
        height 30px
        padding 6px
        margin-bottom 24px
        width 90%
        max-width 260px

        input
            width 88%

    .carousel-image
        background-position 72%

    .main-image-container
        height 272px

    .article

        .article-head-text
            top 211px

    .main-image-container

        .top
            left 0

    .diagonal
        height 28px

    .after-head-text
        margin-top 206px

    .noticia

        .article-head-text
            top 290px

        .after-head-text
            margin-top 284px

    .obra

        .article-head-text
            top 247px

    .bottom-content

        .obra-caption
            height auto
            padding-bottom 32px


    .tab-especial

        li
            width 50%

    .map-container
        margin-bottom 24px

        #NAV-ID

                a
                    display block

        .carousel-btn
            display block

    .map-section

        .col-md-10
            width 100%
            padding 0







