<nav role="navigation">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand cca-brand" href="#">
                <figure class="logo" onclick="window.location.href='/'">
                    <img src="/images/logo cca.png" alt="" />
                </figure>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/sobre"><span class="icn icn-mas icn-light"></span>Sobre Ciudad Abierta</a>
                </li>
                <li>
                    <a href="/obras"><span class="icn icn-mas icn-light"></span>Obras</a>
                </li>
                <li>
                    <a href="/visita"><span class="icn icn-mas icn-light"></span>Visita</a>
                </li>
                <li>
                    <a href="/como-llegar"><span class="icn icn-mas icn-light"></span>Cómo llegar</a>
                </li>
                <li>
                    <a href="/mapa"><span class="icn icn-mas icn-light"></span>Mapa de Ciudad Abierta</a>
                </li>
            </ul>
        </div>
  </div>
</nav>
