<nav role="navigation">
    <div>
        <div class="navbar-header">
            <button type="button" class="btn-nav-bar navbar-toggle collapsed icn icn-menu icn-light" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            </button>
            <a class="navbar-brand cca-brand" href="#">
                <figure class="logo" onclick="window.location.href='/'">
                    <img src="/images/logo cca.png" alt="" />
                </figure>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/sobre"><span class="icn icn-mas icn-light"></span>Sobre Ciudad Abierta</a>
                </li>
                <li>
                    <a href="/obras"><span class="icn icn-mas icn-light"></span>Obras</a>
                </li>
                <li>
                    <a href="/visita"><span class="icn icn-mas icn-light"></span>Visita</a>
                </li>
                <li>
                    <a href="/como-llegar"><span class="icn icn-mas icn-light"></span>Cómo llegar</a>
                </li>
                <li>
                    <a href="/mapa"><span class="icn icn-mas icn-light"></span>Mapa de Ciudad Abierta</a>
                </li>
                <li class="li-show-768">
                    <div class="caja-busqueda-mobile">
                        <input type="text" />
                        <span class="icn icn-lupa icn-light"></span>
                    </div>  
                    <div class="lang-tag">
                        <div class="lenguajes pull-left">
                        <div class="amereida-btn active">
                            <p>Español</p>
                        </div>
                        <div class="amereida-btn">
                            <p>English</p>
                        </div>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
  </div>
</nav>
