<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Camereida</title>

    <script src="{{ assets }}/js/jquery-2.1.1.min.js"></script>
    <script src="{{ assets }}/js/bootstrap.min.js"></script>
    <script src="{{ assets }}/js/common_functions.js"></script>
    <script src="{{ assets }}/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{ assets }}/js/jquery.kinetic.min.js"></script>
    <script src="{{ assets }}/js/responsiveCarousel.js"></script>
    <script src="{{ assets }}/js/jquery.justifiedGallery.min.js"></script>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/camereida.css" />
    <link rel="stylesheet" href="/css/stampa.css"/>
    <link rel="stylesheet" href="/css/justifiedGallery.min.css"/>
    <!--link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'-->
    <!--link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic' rel='stylesheet' type='text/css'-->
    <link href="https://fontastic.s3.amazonaws.com/q5EW7m6rHv9JyZ7pcLEfLM/icons.css" rel="stylesheet">
</head>
<body>
    <header class="main-wrapper">
        <section class="panel-busqueda tst">
            <div class="lenguajes pull-left">
                <div class="amereida-btn active">
                    <p>Español</p>
                </div>
                <div class="amereida-btn">
                    <p>English</p>
                </div>
            </div>
            <div class="caja-busqueda pull-right">
                <input type="text" />
                <span class="icn icn-lupa icn-light"></span>
            </div>
        </section>
        {% include "barra_navegacion.html" %}
    </header>

    {% block content %}
    contenido no sobreescrito
    {% endblock %}

    <footer class="main-wrapper">
        <div class="clearfix">
            <h2>Corporación Cultural Camereida</h2>
            <div class="col-md-3 col-sm-6 column">
                <a  href="tel:5632666510" class="c-text-container">
                    <span class="icn icn-email icn-light title-bullet"></span>
                    <div class="c-caption-inner">
                        <h3>Tel-Fax</h3>
                        <p>+56 32 666510</p>
                    </div>
                </a>
                <a  href="https://www.google.com/maps/d/edit?mid=zB4MAM9_Yg00.kbJ6fY7W0JQs&msa=0" class="c-text-container">
                    <span class="icn icn-mapa icn-light title-bullet"></span>
                    <div class="c-caption-inner">
                        <h3>Ciudad Abierta</h3>
                        <p>Km. 4 camino Concón-Quintero</p>
                    </div>
                </a>
                <a href="https://www.google.cl/maps/place/e%5Bad%5D+Escuela+de+Arquitectura+y+Dise%C3%B1o,+Pontificia+Universidad+Cat%C3%B3lica+de+Valpara%C3%ADso/@-33.0264151,-71.582267,17z/data=!4m2!3m1!1s0x9689e752f2654cc9:0x3339a1db01203779" class="c-text-container">
                    <span class="icn icn-mapa icn-light title-bullet"></span>
                    <div class="c-caption-inner">
                       <h3>Oficinas</h3>
                        <p>Matta 12, Recreo, Viña del Mar, Valparaíso, Chile</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 column">
                    <a class="amereida-btn" href="/contacto">Contacto</a>
                    <a class="amereida-btn" href="#">Formulario de Visitas</a>
                    <a class="amereida-btn" href="#">Donaciones y Aportes</a>
            </div>
            <div class="col-md-3 col-sm-6 column">
                <h3>Redes Sociales</h3>
                <a href="http://vimeo.com/album/2421485" target="_blank">
                    <span class="icn icn-vimeo icn-light"></span>
                </a>
                <a href="https://twitter.com/amereidas" target="_blank">
                    <span class="icn icn-twitter icn-light"></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 column hidden-xs">
                <h3>Enlaces</h3>
                <div class="c-text-container">
                    <span class="icn icn-archivo icn-light title-bullet"></span>
                    <div class="c-caption-inner">
                        <h4><a href="http://www.ead.pucv.cl/extension/archivo/">Archivo histórico José Vial Armstrong</a></h4>
                        <p>Fotografías, videos, planos, etc.</p>
                    </div>
                </div>
                <div class="c-text-container">
                    <span class="icn icn-constel icn-light title-bullet"></span>
                    <div class="c-caption-inner">
                        <h4><a href="http://www.ead.pucv.cl/amereida/biblioteca-con%C2%A7tel/">Biblioteca Constel</a></h4>
                        <p>Catálogo de documentos, libros, poemas, ensayos, etc.</p>
                    </div>
                </div>
                <div class="c-text-container">
                    <span class="icn icn-mas icn-light title-bullet"></span>
                    <div class="c-caption-inner">
                        <h4><a href="http://www.ead.pucv.cl/">e[ad] Escuela de Arquitectura y Diseño</a></h4>
                        <p>Sitio de la Escuela de Arquitectura y diseño PUCV.</p>
                    </div>
                </div>
                <div class="c-text-container">
                    <span class="icn icn-travesia icn-light title-bullet"></span>
                    <div class="c-caption-inner">
                       <h4><a href="http://travesias.ead.pucv.cl/">Travesías de Amereida</a></h4>
                        <p>Bitácora colectiva de las travesías de amereida.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% block js %}
    <script type="text/javascript">
        $(document).ready(function($){
            $('.crsl-items').carousel();
            $('.crsl-items').carousel({ visible: 3, itemMinWidth: 300, itemMargin: 10 });
        });
    </script>
</body>
</html>
