{% extends "base.html" %}

{% block content %}
<section>
<div class="no-head-image main-wrapper">
    <h1>Como Llegar</h1>
    <form action="#">
        <div class="form-group selector">
            <label for="exampleInputEmail1">Punto de Partida</label>
            <select name="ordenar" id="ordenar" class="form-control">
                <option value="1">Valparaiso</option>
                <option value="2">Santiago</option>
                <option value="3">Norte (Los Vilos)</option>
                <option value="4">San Antonio</option>
            </select>
        </div>
    </form>
        <div class="jumbotron secondary"> 
        </div>
    <h2>Indicaciones</h2>
    <h3>Cómo Llegar en Bus</h3>
    <ol type="1">
        <li>Some step</li>
        <li>Some step</li>
        <li>Some step</li>
        <li>Some step</li>
        <li>Some step</li>
    </ol>
    <h3>Cómo Llegar en Auto</h3>
    <ol type="1">
        <li>Some step</li>
        <li>Some step</li>
        <li>Some step</li>
        <li>Some step</li>
        <li>Some step</li>
    </ol>
</div>
</section>
{% endblock %}
