{% extends "base.html" %}

{% block content %}
<section class="main-wrapper article obra">
    <h1>Como Llegar</h1>
    <!--
    <div role="tabpanel">
        <form action="#">
            <div class="form-group selector">
                <label for="exampleInputEmail1">Punto de Partida</label>
                <select name="ordenar" id="ordenar" class="nav nav-tabs form-control">
                    <option href="#tab3" data-toggle="tab" value="1">Valparaiso</option>
                    <option href="#tab4" data-toggle="tab" value="2">Santiago</option>
                    <option href="#tab5" data-toggle="tab" value="3">Norte (Los Vilos)</option>
                    <option href="#tab6" data-toggle="tab" value="4">San Antonio</option>
                </select>
            </div>
        </form>
        <div class="tab-content">
            <iframe class="tab-pane active" id="tab3" src="https://mapsengine.google.com/map/embed?mid=zXmGT_LTs-uc.kn1QuHyIyIaw" width="100%" height="480"></iframe>
            <iframe class="tab-pane" id="tab4" src="https://mapsengine.google.com/map/embed?mid=zXmGT_LTs-uc.kvUogYotrL58" width="100%" height="480"></iframe>
            <iframe class="tab-pane" id="tab5" src="https://mapsengine.google.com/map/embed?mid=zXmGT_LTs-uc.khLX67L_3A28" width="100%" height="480"></iframe>
            <iframe class="tab-pane" id="tab6" src="https://mapsengine.google.com/map/embed?mid=zXmGT_LTs-uc.kEvNn4kYQ5iU" width="100%" height="480"></iframe>
        </div>
    </div>
    -->
    <ul class="nav nav-tabs tab-especial">
            <li class="active"><a href="#tab1" data-toggle="tab" class="amereida-btn"><span class="icn icn-mas icn-light"></span>Desde Valparaíso</a></li>
            <li><a href="#tab2" data-toggle="tab" class="amereida-btn"><span class="icn icn-mas icn-light"></span>Desde Santiago</a></li>
            <li><a href="#tab3" data-toggle="tab" class="amereida-btn"><span class="icn icn-mas icn-light"></span>Desde Los Vilos</a></li>
            <li><a href="#tab4" data-toggle="tab" class="amereida-btn"><span class="icn icn-mas icn-light"></span>Desde San Antonio</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <iframe class="tab-pane active" id="iframe3" src="https://mapsengine.google.com/map/embed?mid=zXmGT_LTs-uc.kn1QuHyIyIaw" width="100%" height="480"></iframe>
            </div>
            <div class="tab-pane fade" id="tab2">
               <iframe class="tab-pane" id="iframe4" src="https://mapsengine.google.com/map/embed?mid=zXmGT_LTs-uc.kvUogYotrL58&amp;z=8&amp;output=embed" width="100%" height="480"></iframe>
            </div>
            <div class="tab-pane fade" id="tab3">
                <iframe class="tab-pane" id="iframe6" src="https://mapsengine.google.com/map/embed?mid=zXmGT_LTs-uc.kEvNn4kYQ5iU&amp;z=8&amp;output=embed" width="100%" height="480"></iframe>
            </div>
            <div class="tab-pane fade" id="tab4">
                <iframe class="tab-pane" id="iframe5" src="https://mapsengine.google.com/map/embed?mid=zXmGT_LTs-uc.khLX67L_3A28&amp;z=8&amp;output=embed" width="100%" height="480"></iframe>
            </div>
        </div>
</section>
{% endblock %}
