{% extends "base.html" %}
{% block content %}
<section class="main-wrapper article">
    <section>
        <div class="clearfix">
            <div class="col-md-6">
            <h1>Contacto</h1>
            <p class="red-hr">Si estás interesado de conocer Ciudad Abierta por favor accede a este vínculo</p>
            <a href="/visita#formulario" class="amereida-btn">Formulario de visita</a>           
            <form action="#" role="form">
                <div class="form-group">
                    <input type="text" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Correo" class="form-control">
                </div>
                <div class="form-group">
                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Escriba un mensaje">
                    </textarea>
                </div>
                <div class="form-group">
                    <input class="amereida-btn" type="submit" value="Enviar">
                </div>
            </form>
        </div>
        </div>
    </section>
</section>
    <script type="text/javascript">
    </script>

{% endblock %}