{% extends "base.html" %}
{% block content %}
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Corporación</h1>
            <p class="text-right">Amereida</p>
        </div>
    </div>
</section>
<section>
    <div  class="parrafo">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tenetur, ab aliquam porro earum minus dolorum dolore? Placeat nulla temporibus enim laboriosam, quisquam corporis cum, neque perferendis doloribus voluptate quaerat!
        </p>

        <p class="titulo">Directiva y Socios</p>
        <p class="sub-titulo">Directiva</p>

        <p class="nombre">Sr Some Guy</p>
        <p class="cargo">Cargo</p>
        <p class="nombre">Sr Some Guy</p>
        <p class="cargo">Cargo</p>
        <p class="nombre">Sr Some Guy</p>
        <p class="cargo">Cargo</p>

        <p class="sub-titulo">Socios</p>
        <p class="nombre">Persona 1</p>
        <p class="nombre">Persona 2</p>
        <p class="nombre">Persona 3</p>

        <p class="titulo">Donaciones y Aportes</p>
        <p class="sub-titulo">Aportes Monetarios</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore recusandae, sit, nulla fugit porro provident aut, harum culpa dicta incidunt fugiat eaque blanditiis ullam facere soluta voluptates nam sunt quasi.
        </p>
        <p class="sub-titulo">Aportes Bibliográficos</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore recusandae, sit, nulla fugit porro provident aut, harum culpa dicta incidunt fugiat eaque blanditiis ullam facere soluta voluptates nam sunt quasi.
        </p>
    </div>

</section>
{% endblock content %}

