{% extends "base.html" %}
{% block content %}
<section class="main-wrapper article">
    <section>
        <div class="clearfix">
            <div class="col-md-6">
            <h1>Corporación Amereida</h1>
            <p class="red-hr">Es una organización cultural sin fines de lucro. Su función es ser el rostro legal de la Ciudad Abierta desarrollando, promulgando y manteniendo su existencia en fidelidad con su sentido poético.</p> 
            <p>El año 69, después de haber sido el 67 pioneros en el mundo en la Reforma Universitaria, los profesores y alumnos de la Escuela de Arquitectura de la Universidad Católica de Valparaíso forman la Cooperativa Amereida cuyo fin es «hacer de la vida, el estudio y el trabajo una unidad».  En 1998 esta cooperativa se reconstituye bajo en nombre de Corporación Cultural Amereida.</p>
            <p>Estas deben ser concertadas haciendo uso del formulario de visitas y con una semana de anticipación por lo menos. Las fechas solicitadas están sujetas a confirmación.</p>
            <h2>Directiva y Socios</h2>
            <ul class="icn-ul">
                <li><span class="icn icn-li icn-light icn-vineta"></span>Sra. Victoria Jolly M.
                </br><b>Presidente</b></li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Sr. Carlos Covarrubias </br><b>F. Director</b></li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Sr. Iván Ivelic Y. </br><b>Vice Presidente</b></li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Sr. Óscar Santis G. </br><b>Secretario</b></li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>José Balcells E. </br><b>Tesorero</b></li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Silvia Reyes </br><b>Secretaria</b></li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Marcelo Alejandro Araya Aravena</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Silvia Irene Arriagada Cordero</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>José Antonio Balcells Eyquem</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Tomás Arturo Browne Covarrubias</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Patricio Cáraves Silva</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Arturo Daniel Chicano Jiménez</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Carlos Covarrubias Fernández</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Carlos Alberto Cruz Covarrubias</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Sebastián de Larraechea</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Carmen Luz Donoso Cañas</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Sergio Elórtegui Francioli</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Fernando Mauricio Espósito Galarce</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Jorge Alfonso Ferrada Herrera</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Tulio Andrés Garcés Alzamora</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Alejandro Alfredo Garretón Correa</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Boris Jorge Ivelic Kusanovic</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Iván Ivelic Yanes</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Juan Carlos Jeldes Pontio</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>David Alfredo Jolly Monge</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Victoria Jolly Mujica</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Ricardo Mauricio Lang Viacava</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Rodrigo Lorca Barros</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>David Alejandro Luza Cornejo</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Mauricio Puentes Riffo</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Juan Eduardo Purcell Fricke</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Jaime Francisco Reyes Gil</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Isabel Margarita Reyes Nettle</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Rodrigo Saavedra Venegas</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Óscar Emilio Santis Guerrero</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Manuel Florencio Sanfuentes Vío</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Herbert George Spencer González</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Michèle Wilkomirsky Uribe</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Jorge Alfonso Ferrada Herrera</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Salvador Abdo Zahr Maluk</li>
            </ul>
            <h2>Donaciones y Aportes</h2>
            <h3 id="aportes">Aportes Monetarios</h3>
            <p class="red-hr">La Corporación Cultural Amereida, como institución sin fines de lucro, recibe donaciones voluntarias de privados y de aquellos la visitan. Estos aportes van dirigidos a la mantención general de los terrenos. Para realizar una donación, puede hacerlo directamente en la cuenta corriente de la corporación.</p>
            <ul class="icn-ul">
                <li><span class="icn icn-li icn-light icn-vineta"></span><b>Nombre Titular</b> Corporación Cultural Amereida</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span><b>Banco</b> Santander</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span><b>Cuenta</b> N° 07-08122-7</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span><b>Rut</b> Corporación: 74.546.500-5</li>
            </ul>
            <h2>Aportes Bibliográficos</h2>
            <p class="red-hr">La Corporación Cultural Amereida en conjunto con la Facultad de Arquitectura y Diseño de la Pontificia Universidad Católica de Valparaíso y el archivo histórico José Vial realiza una constante labor de registro.</p>
            <p>Año a año se recopila material bibliográfico referente a la Ciudad Abierta en todos sus ámbitos y quehaceres. Gracias a esta labor se ha conseguido resguardar en parte el valioso patrimonio intelectual y cultural que rodea esta obra. Pese a ello hay mucho material que, por diversos motivos, escapa de este catastro.</p>
            <p>Es por ello que el archivo histórico se encuentra abierto a recibir aportes bibliográficos relativos a Ciudad Abierta. Se extiende la invitación a aquellas personas que posean material en cualquier medio o soporte. Para esto comunicarse con:</p>
            <ul class="icn-ul">
                <li><span class="icn icn-li icn-light icn-vineta"></span><b>Jefe del Archivo</b>Jaime Reyes</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span><b>Encargado Mayor del Archivo</b> Adolfo Espinoza</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span><b>Cuenta</b> N° 07-08122-7</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span><b>Fotógrafo oficial del Archivo</b>Iván Ivelic</li>
            </ul>
            <p>
        </div>
    </section>
</section>
{% endblock content %}

