{% extends "base.html" %}

{% block content %}
<section class="head-section">
    <div class="jumbotron main">
        <div class="container">
            <h1>Ciudad Abierta</h1>
            <p>
                Ciudad Abierta es un campo de experimentación arquitectónica construido bajo la luz de “Amereida”, poema épico que revela una visión poética de América. 
            </p>
        </div>
    </div>
</section>

<section>
    <div class="jumbotron main-wrapper secondary"> 
        <div class="container">
            <h2>Corporación Amereida</h2>
            <p>
                Es una organización cultural sin fines de lucro. Su función es ser el rostro legal de la Ciudad Abierta desarrollando, promulgando y manteniendo su existencia en fidelidad con su sentido poético. 
            </p>
        </div>
    </div>
</section>

<section>
    <div class="main-wrapper home-text">
        <h2>Obras</h2>
        <p class="bajada-titulo">
            Las obras en Ciudad Abierta son el resultado de una visión poética que conjuga el decir de la poesía con el hacer de la arquitectura. Así cada obra se desprende de un acto poético donde el oficio interpreta sentido que nace de la palabra poética dándole forma. 
        </p>
    </div>
    <div id="gallery" style="overflow-x:hidden !important;">
        <img data-src="/images/hospederia-colgante.jpg"/>
        <img data-src="/images/las-celdas.jpg"/>
        <img data-src="/images/calzada-aguas.jpg"/>
        <img data-src="/images/hospederia-disenos.jpg"/>
        <img data-src="/images/sala-musica.jpg"/>
    </div>
    <!--
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for obra in obras %}
                <li data-target="#carousel" data-slide-to="{{ loop.index0 }}"
                    {% if loop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for obra in obras %}
            <div class="item{% if loop.first %} active{% endif %}">
                <div class="text-center">
                    <img src="{{ obra.imagen }}" alt="" />
                </div>
                <div class="carousel-caption">
                    <h3>{{ obra.nombre }}</h3>
                    <p>{{ obra.descripcion }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>-->

    <div class="text-center">
        <a href="/obras" role="button">Ver todas las Obras</a>
    </div>
</section>

<section>
     <div class="main-wrapper home-text">
        <h2>Noticias Recientes</h2>
    </div>
    <div class="main-wrapper news-container">
        {% for noticia in noticias %}
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="thumbnail">
                <div class="news-image" style="background-image:url('{{ noticia.imagen }}');">
                </div>
                <div class="caption">
                    <h3>{{ noticia.titulo }}</h3>
                    <p>
                        <span class="span-fecha">{{ noticia.fecha }}</span>
                    </p>
                    <p>{{ noticia.texto }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center main-wrapper">
        <a href="/noticias" role="button">Ver todas las Noticias</a>
    </div>
</section>
{% endblock %}

