{% extends "base.html" %}
{% block content %}

<section>
    <div class="no-head-image main-wrapper">
        <h1>Mapa de Ciudad Abierta</h1>
        <ul class="nav nav-tabs tab-especial">
            <li class="active"><a href="#tab1" data-toggle="tab">Zona Baja</a></li>
            <li><a href="#tab2" data-toggle="tab">Zona Alta</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="jumbotron secondary">
                a 
                </div>
            </div>
            <div class="tab-pane fade" id="tab2">
                <div class="jumbotron secondary">
                b 
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
