{% extends "base.html" %}

{% block content %}
<section class="main-wrapper article">
     <section>
        <div class="article-head">
            <div class="main-image-container">
                <figure class="background-8"></figure>
                <div class="diagonal bottom"></div>
            </div>
            <div class="article-head-text noticia-head">
                <span class="icn icn-noticias"></span>  
                <span class="antetitulo">Noticias</span>
                <h1>Concierto Código es Poesía</h1>
            </div>
        </div>
         <div class="after-head-text">
            <div class="clearfix">
                <div class="col-md-6">
                <p class="red-hr">
                Las obras en Ciudad Abierta son el resultado de una visión poética que conjuga el decir de la poesía con el hacer de la arquitectura. Así cada obra se desprende de un acto poético. Luego el oficio interpreta y lleva a la forma el sentido que se desprende de la palabra. </p>
                <p>Las construcciones se proyectan en la ronda, instancia donde participan todos los integrantes de la ciudad. Las obras son construidas “con cualquier material”, apelando a las propias fuerzas y recursos se sus habitantes. </p>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
