{% extends "base.html" %}

{% block content %}
<section>
    <div class="jumbotron">
        <div class="container">
            <h1>Titulo Noticia</h1>
            <p class="text-center">
                03|05|2013
            </p>

        </div>
    </div>
</section>
<section>
    <div class="parrafo">
        <p>Noticia | Titulo Noticia</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque delectus dolorem sunt cum perferendis vel maiores, modi, consequatur aliquam non sit eaque nemo vero soluta a minima! Neque quos, ea.
        </p>
        <p class="titulo">Lorem Ipsum</p>
        <p class="sub-titulo">Dolor sit amet</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, numquam. Officiis est quasi porro dolore corporis natus cupiditate maiores, esse mollitia maxime, voluptatem totam iste necessitatibus, quod possimus dolorum dignissimos.
        </p>
        <p class="sub-titulo">Dolor sit amet</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nihil eligendi consequatur, voluptatibus labore accusantium alias recusandae mollitia nisi. Harum asperiores blanditiis reiciendis aperiam eveniet dolorem similique architecto sit, aliquid?
        </p>

    </div>
</section>
<section  class="noticias">
    <article class="noticia">
        <figure class="imagen">
            <img src="http://dummyimage.com/240x200/000/fff" alt="" />
        </figure>
        <p>Pie de img</p>
    </article>
</section>
<section class="noticias">
    <h1>Noticias</h1>

    {% for noticia in noticias %}
    <article class="noticia">
        <figure class="imagen">
            <img src="{{ noticia.imagen }}" alt="" />
        </figure>

        <h3 class="titulo">{{ noticia.titulo }}</h3>
        <p class="fecha">{{ noticia.fecha }}</p>

        <div class="texto">
            {% autoescape false %}
            {{ noticia.texto }}
            {% endautoescape %}
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
