{% extends "base.html" %}
{% block content %}
<section class="noticias">
    <div class="no-head-image main-wrapper">
        <h1>Noticias</h1>
        {% for noticia in noticias %}
        <article class="noticia col-lg-6 col-xs-12">
            <figure class="news-image" style="background-image:url('{{ noticia.imagen }}');">
            </figure>
            <h3 class="titulo">{{ noticia.titulo }}</h3>
            <p>
                <span class="span-fecha">{{ noticia.fecha }}</span>
            </p>
            <p>
                {% autoescape false %}
                {{ noticia.texto }}
                {% endautoescape %}
            </p>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
