{% extends "base.html" %}

{% block content %}
<section class="head-section">
    <div class="jumbotron main">
        <div class="container">
            <h1>Concierto Código es Poesía</h1>
            <p class="text-center">
                11|11|2014
            </p>
        </div>
    </div>
</section>
<section>
    <div class="main-wrapper">
        <p><span class="span-breadcrumb-noticia">Noticias | Concierto Código es Poesía</span></p>
        <p>
            El Sábado 25 de octubre se realizó en la Sala de Música el concierto “Código es Poesía”.
        </p>
        <p>
           Participaron: Sergio Miranda (guitarra eléctrica), Sebastián de Larraechea (flauta y guitarra eléctrica), Sebastián Murillo (acordeón y vidrios), Ronald Smith (electrónica), Óscar Santis (electrónica) y Diego Ballcels (imágenes y proyecciones)
        </p>
    </div>
</section>
<section class="noticias">
    <div class="main-wrapper">
        <h2>Noticias Anteriores</h2>
        {% for noticia in noticias %}
        <article class="noticia col-sm-6 col-xs-12">
            <figure class="news-image" style="background-image:url('{{ noticia.imagen }}');">
            </figure>
            <h3 class="titulo">{{ noticia.titulo }}</h3>
            <p>
                <span class="span-fecha">{{ noticia.fecha }}</span>
            </p>
            <p>
                {% autoescape false %}
                {{ noticia.texto }}
                {% endautoescape %}
            </p>
        </article>
    {% endfor %}
</section>
{% endblock %}
