{% extends "base.html" %}

{% block content %}
<section class="main-wrapper article obra">
     <section>
        <div class="article-head">
            <div class="main-image-container">
                <figure class="obra-4"></figure>
                <div class="diagonal bottom"></div>
            </div>
            <div class="article-head-text">
                <span class="icon-obra-interior"></span>
                <h1>Hospedería de la entrada</h1>
                <p class="bajada red-hr">
                    Obra Interior | Zona Baja, Entrada | Grupo Ciudad Abierta | 1992
                </p>
            </div>
        </div>
        <div class="after-head-text">
            <div class="clearfix">
                <div class="col-md-6">
                    <h2>Descripción</h2>

                    <p class="red-hr">
                        Construida en el año 1985 por Boris Ivelic (Arquitecto), Grupo Ciudad Abierta. Cualquier persona que entre a los terrenos debiese tener un lugar donde poder hablar, preguntar, presentarse. Girar al asedio en una real llegada. Una hospedería o pórtico, un lugar público en el acceder donde alguien reciba. Se piensa que más que hospedería de la puerta, puesto que todas las hospederías tienen puerta, es la “hospedería de la llegada” y es hospedería porque lo propio de ésta es recibir, es la primera que recibe.Esta hospedería que cuida de la llegada, la primera que recibe.
                    </p>
                    <p>
                        Las construcciones se proyectan en la ronda, instancia donde participan todos los integrantes de la ciudad. Las obras son construidas “con cualquier material”, apelando a las propias fuerzas y recursos se sus habitantes.
                    </p>

                    <h2>Materialidad y Dimensiones</h2>
                    </p>
                        <li><span class="icn icn-li icn-light icn-vineta"></span><b>Piso</b> Madera de Pino</li>
                        <li><span class="icn icn-li icn-light icn-vineta"></span><b>Estructura</b> Pino Impregnado</li>
                        <li><span class="icn icn-li icn-light icn-vineta"></span><b>Recubrimiento</b> Madera Machihembrada</li>
                        <li><span class="icn icn-li icn-light icn-vineta"></span><b>Cubierta</b> Planchas de Ferrocemento</li>
                    <p>
                    <h2>Fundamento</h2>
                    <p class="red-hr">Es distinto un huésped, a quien nos hemos dedicado a oírle, a un visitante que es atraído a esta ciudad por la belleza del paisaje, por la novedad de sus edificaciones o por el simple hecho de detenerse en el camino porque esto lo permite. Para ellos las obras y la Ciudad Abierta se vuelve equivoca.</p>
                    <p>La Ciudad Abierta no tiene límites físicos, que la separen de otros terrenos. Esto porque en la apertura poética, los limites fueron desvelados con una trascendencia distinta a lo conocido.</p>
                    <p>Cualquier persona que entre a los terrenos debiese tener un lugar donde poder hablar, preguntar, presentarse. Girar al asedio en una real llegada. Una hospedería o pórtico, un lugar público en el acceder donde alguien reciba.</p>
                    <p>Se piensa que más que hospedería de la puerta, puesto que todas las hospederías tienen puerta, es la “hospedería de la llegada” y es hospedería porque lo propio de ésta es recibir, es la primera que recibe.
                    Esta hospedería que cuida de la llegada, la primera que recibe, es propiamente la constitución de un exterior, pero una hospedería también tiene interior, es el interior el que cuidara del cine.</p>
                    <p>Se propone un gran anfiteatro y se dibuja como imagen un teatro griego. Se piensa que es lo propiamente público. Incluso en la ciudad todos los cines son públicos y tratan de salir a la calle y son espacios graduables desde el exterior al interior. Las personas y los automóviles podrían pasar por debajo de unas prolongaciones del teatro a manera de umbral. Y arriba de ellos podría vivir una familia.</p>
                    <p>También se propone en el cruce de caminos que se produce a la entrada, constituir una suerte de plaza formada por un gran cubo de pilares inclinados. Es como entrar a un gran bosque pasando por entremedio de ellos. Cuando se llega se queda enfrentado a las torres, se trata que esta trama de pilares forma una especie de tamiz con las torres de agua.</p>
                    <p>Es trabajando con la duna, la arena que se puede conformar los espacios. La arena es suelo, los terraplenes se pueden pisar, acceder, se pueden constituir toda una suerte de recorridos, dando distintos puntos de vista a la obra. Buscando el sin revés ni derecho.</p>
                    <p>Se piensa que la estructura que arma el interior sea una suerte de prolongación de las hipóstilas. Un pórtico que en su parte alta arman unas cubículas en desniveles creando un Acceso a la sala de cine. Son unas cubiculas que tiene un techo común y que pueden albergar la vida de una familia. Estas cubiculas pueden irse terminando separadamente de manera que la obra no este a la espera de ser terminada para que se constituya como obra: estando el suelo.</p>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="clearfix bottom-content gray-content">
    <div class="col-md-10">
        <span class="icn icn-mapa"></span>
        <h2>Cómo Llegar a Esta Obra</h2>
        <div class="col-md-6 col-sm-6 column">
            <img alt="#" src="{{ assets }}images/mapa-obra.jpg"/>
        </div>
        <div class="col-md-6 col-sm-6 column">
            <ul class="icn-ul">
                <li><span class="icn icn-li icn-light icn-vineta"></span>Entra por la parte baja y camina por el sendero de tierra.</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>La Hospesdería de la Entrada es la primera obra a mano derecha.</li>
            </ul>
        </div>
    </div>
    <div class="diagonal bottom"></div>
    <div class="diagonal top"></div>
</section>
<section class="clearfix bottom-content galeria-content">
    <div class="col-md-10">
        <span class="icn icn-imagen"></span>
        <h2>Galería</h2>
        <div id="mygallery">
            <a href="#">
                <img alt="#" src="{{ assets }}images/3530828025_b8011b2017.jpg"/>
            </a>
            <a href="#">
                <img alt="#" src="{{ assets }}images/3530828223_c026963deb.jpg"/>
            </a>
            <a href="#">
                <img alt="#" src="{{ assets }}images/3530828625_78e83f42a4.jpg"/>
            </a>
            <a href="#">
                <img alt="#" src="{{ assets }}images/3530828699_73325e14c2.jpg"/>
            </a>
            <a href="#">
                <img alt="#" src="{{ assets }}images/3530830247_d82d27877f.jpg"/>
            </a>
            <a href="#">
                <img alt="#" src="{{ assets }}images/3531642998_aef4d06775.jpg"/>
            </a>
            <a href="#">
                <img alt="#" src="{{ assets }}images/3531644752_d95aceaa8b.jpg"/>
            </a>
        </div>
        <a href="https://www.flickr.com/photos/archivo-escuela/sets/72157618148076340/"><span class="icn icn-flickr icn-light"></span> ver todas las imágenes en Flickr</a>
    </div>
</section>
<section class="clearfix bottom-content">
    <div class="col-md-10">
        <span class="icn icn-mas"></span>
        <h2>Obras Cercanas</h2>
        <div class="col-md-4 column">
            <figure class="obra-img obra-6">
            </figure>
            <div class="obra-caption">
                <figcaption class="center-container">
                    <span class="icon-escultura"></span>
                    <h3>Arpa Eólica</h3>
                    <p class="bajada red-hr">
                        Escultura | Zona Baja, Entrada | Grupo Ciudad Abierta | 1992
                    </p>
                </figcaption>
            </div>
        </div>
        <div class="col-md-4 column">
            <figure class="obra-img obra-7">
            </figure>
            <div class="obra-caption">
                <figcaption class="center-container">
                    <span class="icon-obra-interior"></span>
                    <h3>Taller de Prototipos</h3>
                    <p class="bajada red-hr">
                        Obra Interior | Zona Baja, Entrada | Grupo Ciudad Abierta | 1990
                    </p>
                </figcaption>
            </div>
        </div>
        <div class="col-md-4 column">
            <figure class="obra-img obra-8">
            </figure>
            <div class="obra-caption">
                <figcaption class="center-container">
                    <span class="icon-obra-interior"></span>
                    <h3>Taller del Escultor</h3>
                    <p class="bajada red-hr">
                        Obra Interior | Zona Baja, Entrada | Salvador Zarh | 1997
                    </p>
                </figcaption>
            </div>
        </div>
    </div>
</section>

 <!--toggle buttons   <div class="text-center obra-nav">
        <div class="btn-group btn-custom">
            <button type="button" class="btn btn-default btn-lg text-center"
                onclick="revelar('ubicacion')">
                <span class="glyphicon glyphicon-map-marker"></span>
                <p>Ubicación</p>
            </button>
            <button type="button" class="btn btn-default btn-lg text-center"
                onclick="revelar('mas_obras')">
                <span class="glyphicon glyphicon-plus"></span>
                <p>Más Obras</p>
            </button>
            <button type="button" class="btn btn-default btn-lg text-center"
                onclick="revelar('vista')">
                <span class="glyphicon glyphicon-refresh"></span>
                <p>Vista 360</p>
            </button>
            <button type="button" class="btn btn-default btn-lg text-center"
                onclick="revelar('#galeria')">
                <span class="glyphicon glyphicon-th"></span>
                <p>Galeria</p>
            </button>
        </div>
    </div>
    toggle buttons-->

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#mygallery").justifiedGallery({
            rowHeight: 190,
            maxRowHeight: 190,
            margins: 5,
            lastRow: 'justify',
            fixedHeight: false,
            captions: false,
            randomize: false
        });
    });
</script>

<!--<script>


function revelar(id){
    $('.ocultar').addClass('hidden');
    $('#' + id).removeClass('hidden');
}

function ocultar(){
    $('.ocultar').addClass('hidden');
}

//if($(window).width() >= 768){
//    $(".hidden").removeClass("hidden");
//}
</script>-->
{% endblock %}
