{% extends "base.html" %}

{% block content %}
<section class="main-wrapper article">
     <section>
        <div class="article-head">
            <div class="main-image-container">
                <figure class="background-8"></figure>
                <div class="diagonal bottom"></div>
            </div>
            <div class="article-head-text">
                <span class="icn icn-cruzdelsur"></span>
                <h1>Obras</h1>
            </div>
        </div>
         <div class="after-head-text">
            <div class="clearfix">
                <div class="col-md-6">
                <p class="red-hr">
                Las obras en Ciudad Abierta son el resultado de una visión poética que conjuga el decir de la poesía con el hacer de la arquitectura. Así cada obra se desprende de un acto poético. Luego el oficio interpreta y lleva a la forma el sentido que se desprende de la palabra. </p>
                <p>Las construcciones se proyectan en la ronda, instancia donde participan todos los integrantes de la ciudad. Las obras son construidas “con cualquier material”, apelando a las propias fuerzas y recursos se sus habitantes. </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="select-box">
            <label id="ordenar">Orden por</label>
            <select name="ordenar" id="ordenar">
                <option value="1">Ubicación</option>
                <option value="2">Fecha</option>
            </select>
        </div>
        <div class="row clearfix obras-container">
            <!--columna 1-->
            <div class="col-md-4 col-sm-6 column">
                {# SET 1 #}
                {% for obra in col1 %}
                <a href="/obra/{{obra.slug}}">
                    <figure>
                        <img src="{{ assets }}{{ obra.imagen }}" alt="" />
                    </figure>
                    <div class="obra-caption">
                        <figcaption class="center-container">
                            <span class="icon-obra-interior"></span>
                            <h3>{{ obra.nombre }}</h3>
                            <p class="bajada red-hr">
                                {{ obra.resumen }}
                            </p>
                        </figcaption>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="col-md-4 col-sm-6 column">
                {# SET 2 #}
                {% for obra in col2 %}
                <a href="/obra/{{obra.slug}}">
                    <figure>
                        <img src="{{ assets }}{{ obra.imagen }}" alt="" />
                    </figure>
                    <div class="obra-caption">
                        <figcaption class="center-container">
                            <span class="icon-obra-interior"></span>
                            <h3>{{ obra.nombre }}</h3>
                            <p class="bajada red-hr">
                                {{ obra.resumen }}
                            </p>
                        </figcaption>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="col-md-4 col-sm-6 column">
                {# SET 3 #}
                {% for obra in col3 %}
                <a href="/obra/{{obra.slug}}">
                    <figure>
                        <img src="{{ assets }}{{ obra.imagen }}" alt="" />
                    </figure>
                    <div class="obra-caption">
                        <figcaption class="center-container">
                            <span class="icon-obra-interior"></span>
                            <h3>{{ obra.nombre }}</h3>
                            <p class="bajada red-hr">
                                {{ obra.resumen }}
                            </p>
                        </figcaption>
                    </div>
                </a>
                {% endfor %}
            </div>

        </div>
        <label>Página 1 de 5</label>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </section>
</section>

{% endblock %}
