{% extends "base.html" %}

{% block content %}

<section class="obra head-section">
    <div class="jumbotron main">
        <div class="container">
            <h1 class="text-center">Nombre de la obra</h1>
            <p class="text-center">Tipo Obra</p>
            <p class="text-center">Sector</p>
            <p class="text-center">Creador</p>
            <p class="text-center">Año</p>
    </div>
</section>
<section id="seccion_tabs">
    <div class="text-center obra-nav">
        <div class="btn-group btn-custom">
            <button type="button" class="btn btn-default btn-lg text-center"
                onclick="revelar('ubicacion')">
                <span class="glyphicon glyphicon-map-marker"></span>
                <p>Ubicación</p>
            </button>
            <button type="button" class="btn btn-default btn-lg text-center"
                onclick="revelar('mas_obras')">
                <span class="glyphicon glyphicon-plus"></span>
                <p>Más Obras</p>
            </button>
            <button type="button" class="btn btn-default btn-lg text-center"
                onclick="revelar('vista')">
                <span class="glyphicon glyphicon-refresh"></span>
                <p>Vista 360</p>
            </button>
            <button type="button" class="btn btn-default btn-lg text-center"
                onclick="revelar('#galeria')">
                <span class="glyphicon glyphicon-th"></span>
                <p>Galeria</p>
            </button>
        </div>
    </div>
    <!--Comienza Panel de Ubicación-->
    <div id="ubicacion" class="hidden ocultar main-wrapper dropdown-panel">
        <div>
            <div class="dropdown-panel-container">
                <div class="close-button btn-remove">
                    <span class="glyphicon glyphicon-remove"
                        onclick="$('.ocultar').addClass('hidden')"></span>
                </div>
                <h2>Cómo Llegar a Este Sitio</h2>
                <div class="jumbotron secondary">
                a 
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis placeat assumenda modi nulla ipsa iusto voluptatum id qui sint blanditiis dolor officia fugiat nesciunt rem quaerat similique, in neque repudiandae.</p>
            </div>
        </div>
    </div>
    <!--Comienza Panel Vista 360-->
        <div id="vista" class="hidden ocultar main-wrapper dropdown-panel">
        <div>
            <div class="dropdown-panel-container">
                <div class="close-button btn-remove">
                    <span class="glyphicon glyphicon-remove"
                         onclick="ocultar()"></span>
                </div>
            </div>
        </div>
    </div>
    <!--Comienza Panel Galería-->
    <div id="galeria" class="hidden ocultar main-wrapper dropdown-panel">
        <div>
            <div class="dropdown-panel-container">
                <div class="close-button btn-remove">
                    <span class="glyphicon glyphicon-remove"
                         onclick="ocultar()"></span>
                </div>
                <h2>Galería</h2>
            </div>
        </div>
    </div>
    <!--Comienza Panel Más Obras-->
   <div id="mas_obras" class="hidden ocultar main-wrapper dropdown-panel">
        <div>
            <div class="dropdown-panel-container">
                <div class="close-button btn-remove">
                    <span class="glyphicon glyphicon-remove"
                         onclick="ocultar()"></span>
                </div>
                <h2>Obras Cercanas</h2>
                 <div class="obras-box">
                    <div class="obra col-sm-6 col-md-4 col-xs-12">
                        <div>
                            <h3 class="text-center">Escultura Ágora de Tronquoy</h3>
                        </div>
                    </div>
                    <div class="obra col-sm-6 col-md-4 col-xs-12">
                        <div>
                            <h3 class="text-center">Escultura Ágora de Tronquoy</h3>
                        </div>
                    </div>
                    <div class="obra col-sm-6 col-md-4 col-xs-12">
                        <div>
                            <h3 class="text-center">Escultura Ágora de Tronquoy</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section>
    <div class="main-wrapper">
        <div class="paragraph-container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quam illo sint deleniti obcaecati velit ipsam itaque qui amet adipisci rem, laborum a, voluptates placeat consequatur, vel nesciunt eaque voluptas.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quam illo sint deleniti obcaecati velit ipsam itaque qui amet adipisci rem, laborum a, voluptates placeat consequatur, vel nesciunt eaque voluptas.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quam illo sint deleniti obcaecati velit ipsam itaque qui amet adipisci rem, laborum a, voluptates placeat consequatur, vel nesciunt eaque voluptas.
            </p>
        </div>
    </div>

    <!-- Import de Sound Clound -->
    <!-- Import de Youtube/Vimeo -->

    <div class="main-wrapper notas-container">
        <h3>Notas</h3>
        <ol type="1">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quam illo sint deleniti obcaecati velit ipsam itaque qui amet adipisci rem, laborum a, voluptates placeat consequatur, vel nesciunt eaque voluptas.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quam illo sint deleniti obcaecati velit ipsam itaque qui amet adipisci rem, laborum a, voluptates placeat consequatur, vel nesciunt eaque voluptas.</li>
        </ol>

        <div class="text-right" onclick="common.irTop()">
            Arriba <spam class="glyphicon glyphicon-arrow-up"></spam>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<script>

function revelar(id){
    $('.ocultar').addClass('hidden');
    $('#' + id).removeClass('hidden');
}

function ocultar(){
    $('.ocultar').addClass('hidden');
}

//if($(window).width() >= 768){
//    $(".hidden").removeClass("hidden");
//}
</script>
{% endblock %}
