{% extends "base.html" %}

{% block content %}
<section class="main-wrapper article">
     <section>
        <div class="article-head">
            <div class="main-image-container">
                <figure class="background-8"></figure>
                <div class="diagonal bottom"></div>
            </div>
            <div class="article-head-text">
                <span class="icn icn-cruzdelsur"></span>
                <h1>Obras</h1>
            </div>
        </div>
         <div class="after-head-text">
            <div class="clearfix">
                <div class="col-md-6">
                <p class="red-hr">
                Las obras en Ciudad Abierta son el resultado de una visión poética que conjuga el decir de la poesía con el hacer de la arquitectura. Así cada obra se desprende de un acto poético. Luego el oficio interpreta y lleva a la forma el sentido que se desprende de la palabra. </p>
                <p>Las construcciones se proyectan en la ronda, instancia donde participan todos los integrantes de la ciudad. Las obras son construidas “con cualquier material”, apelando a las propias fuerzas y recursos se sus habitantes. </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="select-box">
            <label id="ordenar">Orden por</label>
            <select name="ordenar" id="ordenar">
                <option value="1">Ubicación</option>
                <option value="2">Fecha</option>
            </select>
        </div>
        <div class="row clearfix obras-container">
            <!--columna 1-->
            <div class="col-md-4 col-sm-6 column">
                <!--hospedería de la entrada-->
                <a href="/obra/Hospederia-de-la-Entrada"><figure>
                    <img src="{{ assets }}images/hospederia-de-la-entrada.png" alt="" />
                </figure>
                <div class="obra-caption">
                    <figcaption class="center-container">
                        <span class="icon-obra-interior"></span>
                        <h3>Hospedería de la Entrada</h3>
                        <p class="bajada red-hr">
                            Obra Interior | Zona Baja, Entrada | Grupo Ciudad Abierta | 11992
                        </p>
                    </figcaption>
                </div></a>
                <!--arpa eolica-->
                <a href="#"><figure>
                    <img src="{{ assets }}images/arpa-eolica.png" alt="" />
                </figure>
                <div class="obra-caption">
                    <figcaption class="center-container">
                        <span class="icon-escultura"></span>
                        <h3>Arpa Eólica</h3>
                        <p class="bajada red-hr">
                            Obra Interior | Zona Baja, Entrada | Grupo Ciudad Abierta | 1980
                        </p>
                    </figcaption>
                </div></a>
                <!--cubicula del poeta-->
                <a href="#"><figure>
                    <img src="{{ assets }}images/cubicula-del-poeta.png" alt="" />
                </figure>
                <div class="obra-caption">
                    <figcaption class="center-container">
                        <span class="icon-obra-interior"></span>
                        <h3>Cubícula del Poeta</h3>
                        <p class="bajada red-hr">
                            Obra Interior | Zona Baja, Entrada | Juan Purcell, Salvador Zahr, Fabio Cruz | 1978
                        </p>
                    </figcaption>
                </div></a>
            </div>
            <div class="col-md-4 col-sm-6 column">
                <!--giro-->
                <a href="#"><figure>
                    <img src="{{ assets }}images/giro-400x600.png" alt="" />
                </figure>
                <div class="obra-caption">
                    <figcaption class="center-container">
                        <span class="icon-escultura"></span>
                        <h3>Giro</h3>
                        <p class="bajada red-hr">
                            Obra Interior | Zona Baja, Entrada | Claudio Girola | 1994
                        </p>
                    </figcaption>
                </div></a>
                <!--confín-->
                <a href="#"><figure>
                    <img src="{{ assets }}images/confin.png" alt="" />
                </figure>
                <div class="obra-caption">
                    <figcaption class="center-container">
                        <span class="icon-obra-interior"></span>
                        <h3>Confín</h3>
                        <p class="bajada red-hr">
                            Obra Interior | Zona Baja, Entrada | Patricio Cáraves, David Jolly y alumnos del Taller de Obra | 1975
                        </p>
                    </figcaption>
                </div></a>
                <!--vuelo quebrado-->
                <a href="#"><figure>
                    <img src="{{ assets }}images/vuelo-quebrado.png" alt="" />
                </figure>
                <div class="obra-caption">
                    <figcaption class="center-container">
                        <span class="icon-escultura"></span>
                        <h3>Vuelo Quebrado</h3>
                        <p class="bajada red-hr">
                            Obra Interior | Zona Baja, Vega | Claudio Girola | 2007
                        </p>
                    </figcaption>
                </div></a>

            </div>
            <div class="col-md-4 col-sm-6 column">
                <!--hospedería doble-->
                <a href="#"><figure>
                    <img src="{{ assets }}images/hospederia-doble-o-del-banquete.png" alt="" />
                </figure>
                <div class="obra-caption">
                    <figcaption class="center-container">
                        <span class="icon-obra-interior"></span>
                        <h3>Hospedería Doble</h3>
                        <p class="bajada red-hr">
                            Obra Interior | Zona Baja, Entrada | Grupo Ciudad Abierta | 1973
                        </p>
                    </figcaption>
                </div></a>
                <!--mesa del entreacto-->
                <a href="#"><figure>
                    <img src="{{ assets }}images/mesa-del-entreacto.png" alt="" />
                </figure>
                <div class="obra-caption">
                    <figcaption class="center-container">
                        <span class="icon-obra-exterior"></span>
                        <h3>Mesa del Entreacto</h3>
                        <p class="bajada red-hr">
                            Obra Interior | Zona Baja, Entrada | David Jolly, Patricio Cáraves y el Grupo Ciudad Abierta | 1996
                        </p>
                    </figcaption>
                </div></a>
                <!--las celdas-->
                <a href="#"><figure>
                    <img src="{{ assets }}images/hospederia-de-la-rosa-de-los-vientos-o-las-celdas.png" alt="" />
                </figure>
                <div class="obra-caption">
                    <figcaption class="center-container">
                        <span class="icon-obra-interior"></span>
                        <h3>Las Celdas</h3>
                        <p class="bajada red-hr">
                            Obra Interior | Zona Baja, Vega | Grupo Ciudad Abierta | 1997
                        </p>
                    </figcaption>
                </div></a>
            </div>
        </div>
        <label>Página 1 de 5</label>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </section>
</section>
{% endblock %}
