{% extends "base.html" %}

{% block content %}
<section class="head-section">
    <div class="jumbotron main">
        <div class="container">
            <h1>Sobre Ciudad Abierta</h1>
        </div>
    </div>
</section>
<section>
    <div class="main-wrapper">
        <p>
        Ciudad Abierta es un campo de experimentación arquitectónica construido bajo la luz de “Amereida”, poema épico que revela una visión poética de América.</p>
        <p>El territorio se ubica en en un sector de Ritoque llamado Punta Piedra, entre las comunas de Concón y Quintero en Valparaíso, Chile, a 4 kilómetros al norte de la desembocadura del río Aconcagua.</p>
    </div>
</section>

<section>
    <div class="jumbotron secondary">
        <div class="container">
            <h2>Fundación</h2>
        </div>
    </div>
    <div class="main-wrapper">
        <p>
        Ciudad Abierta es un campo de experimentación arquitectónica construido bajo la luz de “Amereida”, poema épico que revela una visión poética de América.</p>
        <p>El territorio se ubica en en un sector de Ritoque llamado Punta Piedra, entre las comunas de Concón y Quintero en Valparaíso, Chile, a 4 kilómetros al norte de la desembocadura del río Aconcagua.</p>
    </div>
</section>
<section>
    <div class="jumbotron secondary">
        <div class="container">
            <h2>Campus</h2>
        </div>
    </div>
    <div class="main-wrapper">
        <p>
        Ciudad Abierta es un campo de experimentación arquitectónica construido bajo la luz de “Amereida”, poema épico que revela una visión poética de América.</p>
        <p>El territorio se ubica en en un sector de Ritoque llamado Punta Piedra, entre las comunas de Concón y Quintero en Valparaíso, Chile, a 4 kilómetros al norte de la desembocadura del río Aconcagua.</p>
    </div>
</section>
<section>
    <div class="jumbotron secondary">
        <div class="container">
            <h2>Entorno Natural</h2>
        </div>
    </div>
    <div class="main-wrapper">
        <p>
        Ciudad Abierta es un campo de experimentación arquitectónica construido bajo la luz de “Amereida”, poema épico que revela una visión poética de América.</p>
        <p>El territorio se ubica en en un sector de Ritoque llamado Punta Piedra, entre las comunas de Concón y Quintero en Valparaíso, Chile, a 4 kilómetros al norte de la desembocadura del río Aconcagua.</p>
    </div>
</section>
{% endblock %}
