{% extends "base.html" %}

{% block content %}
<section class="main-wrapper article">
    <article>
        <div class="article-head">
            <div class="main-image-container">
                <figure class="background-3"></figure>
                <div class="diagonal bottom"></div>
            </div>
            <div class="article-head-text">
                <span class="icn icn-cruzdelsur"></span>
                <h1>Sobre Ciudad Abierta</h1>
            </div>
        </div>
        <div class="after-head-text">
            <div class="clearfix">
                <div class="col-md-6">
                <p class="red-hr">
                Ciudad Abierta es un campo de experimentación arquitectónica construido bajo la luz de “Amereida”, poema épico que revela una visión poética de América.</p>
                <p>El territorio se ubica en en un sector de Ritoque llamado Punta Piedra, entre las comunas de Concón y Quintero en Valparaíso, Chile, a 4 kilómetros al norte de la desembocadura del río Aconcagua.</p>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="main-image-container">
            <figure class="background-4"></figure>
            <div class="diagonal bottom"></div>
            <div class="diagonal top"></div>
        </div>
        <div class="clearfix">
            <div class="col-md-6">
             <h2>Origen</h2>
            <p class="red-hr">En 1965 la agrupación arquitectos, pintores y poetas vinculados al instituto de arquitectura de la PUCV llevó a cabo la primera travesía que cruzó América desde Cabo de Hornos hasta Santa Cruz de la Sierra en Bolivia. De aquella travesía surgió el poema de Amereida.</p>
            <p>El nombre de esta obra proviene de la reunión entre el hallazgo de América y la épica latina del piadoso Eneas escrita en la Eneida, epopeya de Virgilio. El poema Amereida es una edición que recopila textos, anotaciones y poemas realizados por lo participantes de la primera travesía y cartas de los primeros cronistas americanos. La  intención primera de este poema fue otorgarle un lugar a la latinidad, adentrándose en la pregunta permanente por el ser americano.</p>
        </div>
    </article>
    <article>
        <div class="main-image-container">
            <figure class="background-5"></figure>
            <div class="diagonal bottom"></div>
            <div class="diagonal top"></div>
        </div>
        <div class="clearfix">
            <div class="col-md-6">
             <h2>Fundación</h2>
            <p class="red-hr">Para dar lugar a la visión poética plasmada en Amereida y hacer así coincidir las dimensiones de la palabra y la acción en 1971 se funda la Ciudad Abierta por medio del acto de apertura de los terrenos.</p> 
            <p>Dicho acto se llevó a cabo el 20 de marzo de 1969. En él se abrió el lugar otorgándole un sentido poético de modo que todo aquello que luego sea dispuesto en los terrenos comparezca bajo el amparo de la palabra poética dicha.</p>
            <p>El poema “Der Gang Aufs Land” (Ida al Campo) de Federico Hölderlin, fue leído en el acto con la intención de conmemorar el centenario de la muerte de este poeta lírico alemán, poema cuya invitación es el tono fundamental del ritmo del nuevo habitar que se instaura en Ciudad Abierta.</p>
        </div>
    </article>
    <article>
        <div class="main-image-container">
            <figure class="background-6"></figure>
            <div class="diagonal bottom"></div>
            <div class="diagonal top"></div>
        </div>
        <div class="clearfix">
            <div class="col-md-6">
             <h2>Campus</h2>
            <p class="red-hr">Gracias a un convenio con la facultad de arquitectura y diseño de la Universidad Católica de Valparaíso, Ciudad Abierta facilita parte de sus terrenos para diversas actividades académicas tales como el taller de Amereida, la Cultura del Cuerpo y los Talleres de obra. De esta manera el aprendizaje, la experimentación y recreación se articulan en pro del desarrollo íntegro de cada uno de los estudiantes.</p>
            <p>Durante seis meses al año, todos los miércoles Ciudad Abierta recibe alrededor de 500 alumnos, que asisten a las asignaturas de Cultura del Cuerpo y Taller de Amereida. En los talleres de obra los alumnos co-participan en la creación de las obras. Los alumnos de diseño de objetos cuentan con un taller de prototipos en el cual pueden formular sus proyectos materialmente. A ello se suman las actividades extra programáticas tales como actos poéticos, celebraciones de San Francisco y diversos torneos y copas, como la copa Recreo o la copa Fabio Cruz.</p>
        </div>
    </article>
    <article>
        <div class="main-image-container">
            <figure class="background-7"></figure>
            <div class="diagonal bottom"></div>
            <div class="diagonal top"></div>
        </div>
        <div class="clearfix">
            <div class="col-md-6">
            <h2>Entorno Natural</h2>
            <p class="red-hr">Dunas, quebradas, bosques, praderas, más de 3 kilómetros de costa frente al océano pacífico y parte del humedal Mantagua son algunos de los ecosistemas que se pueden apreciar en el territorio.</p>
            <p>Como parte de la gran cuenca del río Aconcagua, la zona se caracteriza por su clima mediterráneo costero. Esto vuelve al entorno natural de Ciudad Abierta un espacio propicio para la vida de numerosas especies.</p>
            <p>Dichas características únicas hacen del lugar un punto estratégico para el equilibrio ambiental a nivel regional y nacional. Por ello actualmente los terrenos se encuentran protegidos por el Ministerio del Medio Ambiente. A su vez Ciudad Abierta como proyecto arquitectónico ha sabido subsistir sobre un principio de respeto al entorno, gracias a ello tanto habitantes como visitantes pueden disfrutar de la riqueza natural del lugar en estado prístino.</p>
        </div>
    </article>
</div>
{% endblock %}
