{% extends "base.html" %}

{% block content %}
<section class="head-section sobre-image-1">
    <div class="jumbotron main photo-filter-2">
        <div class="container">
            <h1>Sobre Ciudad Abierta</h1>
        </div>
    </div>
</section>
<section>
    <div class="main-wrapper">
        <p>
        Ciudad Abierta es un campo de experimentación arquitectónica construido bajo la luz de “Amereida”, poema épico que revela una visión poética de América.</p>
        <p>El territorio se ubica en en un sector de Ritoque llamado Punta Piedra, entre las comunas de Concón y Quintero en Valparaíso, Chile, a 4 kilómetros al norte de la desembocadura del río Aconcagua.</p>
    </div>
</section>
<section>
    <div class="sobre-image-2">
        <div class="jumbotron secondary photo-filter-2">
            <div class="container">
                <h2>Origen</h2>
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <p>En 1965 la agrupación arquitectos, pintores y poetas vinculados al instituto de arquitectura de la PUCV llevó a cabo la primera travesía que cruzó América desde Cabo de Hornos hasta Santa Cruz de la Sierra en Bolivia. De aquella travesía surgió el poema de Amereida.</p>
        <p>El nombre de esta obra proviene de la reunión entre el hallazgo de América y la épica latina del piadoso Eneas escrita en la Eneida, epopeya de Virgilio. El poema Amereida es una edición que recopila textos, anotaciones y poemas realizados por lo participantes de la primera travesía y cartas de los primeros cronistas americanos. La  intención primera de este poema fue otorgarle un lugar a la latinidad, adentrándose en la pregunta permanente por el ser americano.</p>
    </div>
</section>
<section>
    <div class="jumbotron secondary">
        <div class="container">
            <h2>Fundación</h2>
        </div>
    </div>
    <div class="main-wrapper">
        <p>
        Ciudad Abierta es un campo de experimentación arquitectónica construido bajo la luz de “Amereida”, poema épico que revela una visión poética de América.</p>
        <p>El territorio se ubica en en un sector de Ritoque llamado Punta Piedra, entre las comunas de Concón y Quintero en Valparaíso, Chile, a 4 kilómetros al norte de la desembocadura del río Aconcagua.</p>
    </div>
</section>
<section>
    <div class="jumbotron secondary">
        <div class="container">
            <h2>Campus</h2>
        </div>
    </div>
    <div class="main-wrapper">
        <p>
        Ciudad Abierta es un campo de experimentación arquitectónica construido bajo la luz de “Amereida”, poema épico que revela una visión poética de América.</p>
        <p>El territorio se ubica en en un sector de Ritoque llamado Punta Piedra, entre las comunas de Concón y Quintero en Valparaíso, Chile, a 4 kilómetros al norte de la desembocadura del río Aconcagua.</p>
    </div>
</section>
<section>
    <div class="jumbotron secondary">
        <div class="container">
            <h2>Entorno Natural</h2>
        </div>
    </div>
    <div class="main-wrapper">
        <p>
        Ciudad Abierta es un campo de experimentación arquitectónica construido bajo la luz de “Amereida”, poema épico que revela una visión poética de América.</p>
        <p>El territorio se ubica en en un sector de Ritoque llamado Punta Piedra, entre las comunas de Concón y Quintero en Valparaíso, Chile, a 4 kilómetros al norte de la desembocadura del río Aconcagua.</p>
    </div>
</section>
{% endblock %}
