{% extends "base.html" %}
{% block content %}
<section class="main-wrapper article">
    <section>
        <div class="clearfix">
            <div class="col-md-6">
            <h1>Visitas</h1>
            <h2>Horarios</h2>
            <p class="red-hr">Las visitas a Ciudad Abierta se pueden realizar entre días lunes y viernes, y sólo los días miércoles pueden ser solicitadas con un anfitrión.</p>
            <p>Estas deben ser concertadas haciendo uso del formulario de visitas y con una semana de anticipación por lo menos. Las fechas solicitadas están sujetas a confirmación.</p>
            <h2>Colaboración</h2>
            <p class="red-hr">
            Invitamos a los visitantes a cancelar una colaboración o adhesión, cuya suma corresponde a $1.500 estudiante y $3.000 público general. Esta colaboración permite la mantención general del territorio.
            </p>
            <p>El pago de este aporte debe efectuarse luego de confirmada la visita por parte de la secretaría de la corporación. Para ello se debe completar el formulario y esperar la respuesta. Plazo máximo de confirmación 3 días hábiles.</p>
            <p>Para conocer más detalles sobre el pago de este aporte visite la <a href="/corporacion#aportes">sección aportes</a> </p>
            <h2>Reglas y Recomendaciones</h2>
            <ul class="icn-ul">
                <li><span class="icn icn-li icn-light icn-vineta"></span>Respetar y conservar todos y cada uno de los bienes naturales y culturales de Ciudad Abierta</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Respetar el derecho a la privacidad. Mantener una distancia prudente con las Hospederías. Se recuerda que en ellas vive gente.</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Respetar las indicaciones entregadas por los anfitriones.</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>No cazar.</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>No acampar.</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>No ingresar con vehículos al borde costero. Para ingresar a la playa, existen senderos peatonales autorizados.
                </li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Las playas del sector no son aptas para el baño.</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Si se viene en auto, estacionar dentro del recinto. Existen lugares habilitados mas estos no cuentan con cuidadores.</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Las delegaciones que vengan en buses grandes no pueden estacionar dentro del recinto. Deben estacionar al costado de la calzada. Los caminos ripiados al interior de Ciudad Abierta no cuentan con las dimensiones suficientes como  para efectuar de forma segura el ingreso de buses de gran tamaño.</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Ciudad Abierta no posee ninguna clase de expendio de alimentos ni bebestibles. Se recomienda por lo tanto a los visitantes, en especial a aquellos que visiten Ciudad Abierta por una jornada prolongada, que lleven sus propios alimentos.</li>
                <li><span class="icn icn-li icn-light icn-vineta"></span>Se solicita a los visitantes llevarse su basura. Dentro del recinto no existen basureros puesto que el servicio de recolección de basura no llega al sector.</li>

            </ul>
             <h2 id="formulario">Formulario de Visita</h2>
            <form action="#" role="form">

                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Fecha de la Visita" />
                </div>

                <div class="form-group">
                    <select name="" id="" class="form-control">
                        <option value="">Tipo de visita</option>
                        <option value="">Institucional</option>
                        <option value="">Privado</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Número de personas" class="form-control">
                </div>

                <div class="form-group">
                    <select name="" id="" class="form-control">
                        <option value="">Procedencia del/los visitantes/s</option>
                        <option value="">Chileno</option>
                        <option value="">Extrangero</option>
                    </select>
                </div>

                <div class="form-group">
                    <select name="" id="" class="form-control">
                        <option value="">Ha visitado antes Ciudad Abierta?</option>
                        <option value="">Si</option>
                        <option value="">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Escriba un mensaje detallando el motivo de su visita y cual es su principal interes en Ciudad Abierta">
                    </textarea>
                </div>
                <div class="form-group">
                    <input class="amereida-btn" type="submit" value="Enviar">
                </div>
            </form>
        </div>
        </div>
    </section>
</section>
    <script type="text/javascript">
    </script>

{% endblock %}
